<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataBaseGrepper.Properties.Settings.dev_gerber_supplementalConnectionString"
            connectionString="Data Source=hgwwdb.eastus.cloudapp.azure.com;Initial Catalog=dev_gerber_supplemental;Persist Security Info=True;User ID=shared_dev_user;Password=devuser$123#ab"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>